.About {
    float:left; font-family: cursive; text-align: left; font-size: 170%; padding-bottom: 10px; max-width: 500px;
    }
.Details {
     text-align: left; max-width: 500px; padding-top: 85px; padding-left: 10px;
}
.image1 {
    float: right;
}
body {background-color: darkcyan;}